<p id="notice"><%= notice %></p>

<h1>Blocked Dates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blocked_dates.each do |blocked_date| %>
      <tr>
        <td><%= link_to 'Show', blocked_date %></td>
        <td><%= link_to 'Edit', edit_blocked_date_path(blocked_date) %></td>
        <td><%= link_to 'Destroy', blocked_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blocked Date', new_blocked_date_path %>
